/* 左右矢印のテンプレート */
/*矢印破線部分 右*/
.right_arrow {
  position: relative; /* 親要素の相対位置を設定し、子要素の絶対位置に影響を与える */
  display: inline-block; /* インラインブロック要素として表示し、周囲の要素と同じラインに配置可能 */
  width: 100px; /* 矢印の直線部分の幅を100pxに設定 */
  height: 4px; /* 矢印の直線部分の高さを4pxに設定（破線の太さ） */
  margin-top: 29px; /* 矢印の上に29pxの余白を追加 */
  margin-right: 10%;/*右の余白*/
  margin-left: auto;/*左の矢印との余白 ※autoにしないと同じ行として扱われない*/

/* 破線を作成するための線形グラデーションを設定 */
background-image: linear-gradient(to right, /* 背景画像を右方向に線形グラデーションで作成 */
#000,              /* 線の色（黒） */
#000 6px,         /* 線の幅を6pxに設定 */
transparent 6px,  /* 透明部分の開始位置を6pxに設定 */
transparent 4px   /* 透明部分の幅を4pxに設定 */
);
      
background-position: left bottom; /* 背景画像の表示位置を左下に設定 */
background-repeat: repeat-x; /* 背景画像を横方向に繰り返し表示 */
background-size: 10px 4px; /* 破線のサイズを10px（間隔）と4px（太さ）に調整 */
}

.right_arrow_text {
  white-space: nowrap; /*文字の折り返しをさせない*/
  font-size: 30px;
  font-weight: bold;
  position: absolute; /* 矢印に対して絶対位置 */
  top: -35px; /* 矢印の上に文字を配置 */
  left: 42%; /* 横位置を中央に */
  transform: translateX(-50%); /* 中央揃え */
}

/*矢印上部斜め部分*/
.right_arrow::before {
content: ""; /* 疑似要素のコンテンツを空に */
position: absolute; /* 絶対位置を設定 */
top: calc(12% - 1px); /* 矢印の高さの中央に配置 */
right: 0; /* 矢印の右端に配置 */
width: 25px; /* 矢印の横部分の幅 */
height: 5px; /* 矢印の横部分の高さ */
border-radius: 9999px; /* 丸みを持たせる */
background-color: #000000; /* 矢印の色 */
transform: rotate(43deg); /* 矢印を45度回転させる */
transform-origin: calc(100% - 1px) 50%; /* 回転の中心を右端に設定 */
}

/*矢印破線部分 左*/
.left_arrow {
  position: relative; /* 親要素の相対位置を設定し、子要素の絶対位置に影響を与える */
  display: inline-block; /* インラインブロック要素として表示し、周囲の要素と同じラインに配置可能 */
  width: 100px; /* 矢印の直線部分の幅を100pxに設定 */
  height: 5px; /* 矢印の直線部分の高さを4pxに設定（破線の太さ） */
  margin-top: 29px; /* 矢印の上に29pxの余白を追加 */
  margin-left: 10%; /*左の余白*/
  margin-right: 50%;/*右の矢印との余白*/

/* 破線を作成するための線形グラデーションを設定 */
background-image: linear-gradient(to right, /* 背景画像を右方向に線形グラデーションで作成 */
#000,              /* 線の色（黒） */
#000 6px,         /* 線の幅を6pxに設定 */
transparent 6px,  /* 透明部分の開始位置を6pxに設定 */
transparent 4px   /* 透明部分の幅を4pxに設定 */
);
      
background-position: left bottom; /* 背景画像の表示位置を左下に設定 */
background-repeat: repeat-x; /* 背景画像を横方向に繰り返し表示 */
background-size: 10px 4px; /* 破線のサイズを10px（間隔）と4px（太さ）に調整 */
}

.left_arrow_text {
  white-space: nowrap; /*文字の折り返しをさせない*/
  font-size: 30px;
  font-weight: bold;
  position: absolute; /* 矢印に対して絶対位置 */
  top: -35px; /* 矢印の上に文字を配置 */
  left: 58%; /* 横位置を中央に */
  transform: translateX(-50%); /* 中央揃え */
}

/*矢印上部斜め部分*/
.left_arrow::before {
content: ""; /* 疑似要素のコンテンツを空に */
position: absolute; /* 絶対位置を設定 */
top: calc(50% - 1px); /* 矢印の高さの中央に配置 */
left: 0; /* 矢印の左端に配置 */
width: 25px; /* 矢印の横部分の幅 */
height: 5px; /* 矢印の斜め部分の太さ */
border-radius: 9999px; /* 丸みを持たせる */
background-color: #000000; /* 矢印の色 */
transform: rotate(318deg); /* 矢印を45度回転させる */
transform-origin: 0% 50%; /* 回転の中心を右端に設定 */
}

.arrow{
  display: flex;
  align-items: center;
}

