/* 登録画面の戻る完了の部分のテンプレート */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* 横スクロールを防ぐ */
}

.header  {
  display: flex;
  justify-content: space-between; /* 子要素を左右の端に配置 */
  align-items: center; /* 子要素を垂直中央に配置 */
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  text-decoration: none; /* 下線を消す */
}

.title-button {
  margin: 0;
  font-size: 20px;
  flex: 1; /* タイトル部分が中央に来るように広げる */
  text-align: center; /* タイトルを中央に配置 */
  border: none;
  background: none;
  cursor: pointer;
  color: #007BFF; /* ボタンの色 */
  text-decoration: none; /* 下線を消す */
}

.left-button , .right_area{
  padding: 8px;
  font-size: 16px;
  border: none;
  background: none; /* ボタン背景を消去 */
  cursor: pointer;
  color: #007BFF; /* アイコンの色 */
}

.left-button, .right_area:hover {
  color: #0056b3; /* ホバー時の色変更 */
}

/* .completionが完了のボタン関連のcss */
.completion a{
  text-decoration: none; /* ホバー時に下線を消す */
  text-align:center;
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 250px;
  padding: 10px 25px;
  font-family: "Noto Sans Japanese";
  color: #333;
  line-height: 1.8;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.completion a:hover{
  background: #333;
  color:#FFF;
}

.completion a::after{
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

.completion a:hover:after {
  border-color: #FFF;
}

.main-content {
  padding: 20px;
  text-align: center;
}