/*ボタン開始*/
/* ボタンのスタイル */
html {
  background-color: #fcfcfc;
}

.main-content {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  flex-direction: column; /* ボタンを縦に並べる */ 
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100px;
  border: none;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0 7px 10px rgb(0 0 0 / 10%);
  background-color: #f0f0f0;
  color: darkblue;
  font-size: 16px;
  text-decoration: none;
  border-radius: 50px;
}

/* ボタンにホバーしたときのスタイル */
.button:hover {
  transform: translateY(-2px); /* ボタンが少し上に動くように設定（ホバー時に浮き上がる効果） */
  box-shadow: 0 7px 10px rgb(0 0 0 / 15%); /* 影の強さを強くして、ボタンが浮き上がった感じにする */
  transition: transform .3s, box-shadow .3s;
}

/* ボタンに押したときのスタイル */
.button:active {
  transform: translateY(2px); /* ボタンが少し下に動くように設定（ホバー時に浮き上がる効果） */
  box-shadow: 0 7px 10px rgb(0 0 0 / 15%); /* 影の強さを強くして、ボタンが浮き上がった感じにする */
  transition: transform .3s, box-shadow .3s;
}/*ボタン終了*/