.icons{
  border: none;/*下線を表示させない*/
  background: none;
  cursor: pointer;
  white-space: nowrap; /*文字の折り返しをさせない*/
  float: right;
  margin-right: 2%;
  margin-top:10px;
}

.list_name{
  font-size: 23px;
  text-decoration: underline; /*点線のcss*/
  text-decoration-style: dashed;/*点線のcss*/
  float: left;
  margin-left: 5%;
  margin-top:10px;
}

.clothes{
  /* border:solid; */
  display: flex;
  margin: 5% 2%;
  padding: 2% 2%;
  justify-content: center;
}

.clothes_img img{
  /* border:solid; */
  width: 180px;
  height: 150px;
  object-fit:fill;
}

.clothes_img{
  border:solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid;
  margin: auto;
  padding: 2%;
}

.detail{
  /* border:solid; */
  white-space: nowrap; /*文字の折り返しをさせない*/
  width: 300px;
  height: 150px;
  text-align: left;
  margin-left: 5%;
}


