@charset "UTF-8";

.main-content{
  margin: 0;
}

/*上部の天気とラベル*/
.upper-part{
  display: flex;  /*子要素を横並びに */
  flex-basis: 100%; 
  justify-content: space-between; /*左右に要素を配置*/
  align-items: center;  /*垂直方向に中央ぞろえ*/
}

/*おすすめコーデラベル*/
#label{
  flex-basis: 40%;
  font-size: 20px;
  white-space: nowrap; /*折り返ししない*/
  font-weight: bold;  /*太文字に*/
  color: #333;
  border-bottom: 2px solid red; /* 下線を追加 */
  width: fit-content; /* テキスト幅に合わせて下線の長さを調整 */
}

/*天気情報のデザイン*/
.weather{
  flex-basis: 20%;
  display: flex;
  align-items: center;
  white-space: nowrap; /*折り返ししない*/
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-right: 8px;
}

/*天気アイコン*/
#weather-icon{
  width: 40px; 
  height: 40px;
  margin-right: 10px;
}



/*カルーセル*/
/* カルーセルコンテナ */
.closet-carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

/* カルーセル */
.osusume-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* カルーセルのスライド */
.osusume-slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* 画像のスタイル */
.osusume-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* 右、左の矢印レイアウト */
.prev, .next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/*検索*/
/* mainコンテナを中央ぞろえ */
main {
  display: flex;
  flex-direction: column;
  align-items: center; /* 横方向で中央揃え */
  justify-content: center; /* 縦方向で中央揃え */
}

/*検索位置*/
.search-container {
  display: flex;
  border-bottom: 2px solid #000;
  width: 350px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative; /* ドロップダウンの位置を調整するため */
  justify-content: center;
}

/*検索欄*/
.searchForm{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.button{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 280px;
  margin-right: 45px;
}

/*検索欄のところ*/
.search-input {
  display: flex;
  flex-basis: 90%;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/*押したら下のバーの色が変わる*/
.search-input::placeholder {
color: #aaa;
}

/*検索ボタンのところ*/
.search-button {
display: flex;
flex-basis: 10%;
padding: 5px 10px;
background: none;
border: none;
cursor: pointer;
padding: 10px;
}

/*ドロップダウンの部分*/
.dropdown {
display: none; /* 初期状態では非表示 */
position: absolute;
top: 100%; /* 検索欄の下に表示 */
left: 0;
right: 0;
background-color: #fff;
border: 1px solid #ddd;
max-height: 150px;
overflow-y: auto;
z-index: 1;
}

.dropdown ul {
list-style: none;
margin: 0;
padding: 0;
}

.dropdown ul li {
padding: 10px;
cursor: pointer;
}

.dropdown ul li:hover {
background-color: #f0f0f0;
}
