body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/*上部の写真*/
.photo-grid {
    display: flex;
    justify-content: space-around;
    height: 530px;
}

.photo {
    overflow: hidden;   /*領域を超えた部分を非表示にする*/
}

.photo-1 img {
    width: 92%;
    height: 90%;
    object-fit: cover;
}



/* アイテム一覧 */
.item-grid {
    display: grid;                          /* グリッドレイアウトに変更 */
    grid-template-columns: repeat(3, 1fr);  /* 3列に設定（各列の幅は均等） */
    gap: 15px;                              /* アイテム間の間隔 */
    width: 100%;                            /* 幅を100%に設定 */
}

/* アイテム */
.item {
    height: 130px;
    border: 2px solid #878787;
    padding: 3px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.2s; /* アイテムのホバー効果を遅延させる */
}

.item p {
    white-space: nowrap; /* 折り返ししない */
}

/* アイテムをホバーしたときに浮いたように見せる */
.item:hover {
    transform: translateY(-5px);    /* 浮いているように見せる */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);  /* 薄い影が出来て立体感が出る */
}

/* アイテム画像 */
.item-img {
    width: 80px;
    height: 65px;
    border-radius: 8px;
}

/* ブランド名 */
.brand {
    margin-bottom: 2px;
    font-size: 10px;
    color: #666;
}

/* アイテム名 */
.details p {
    margin: 2px 0;
    font-size: 7px;
    color: #444;
}

/* アイテム名の上にボーダー */
.details {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
