body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.form-container {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input, .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.body-type {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.body-type-option {
    text-align: center;
}

.body-type-image {
    width: 50px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .form-container {
        width: 90%;
    }
}