body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* 横スクロールを防ぐ */
    background-color: rgb(255, 255, 255);
}


.photo-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.photo-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.photo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.arrow-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    z-index: 10;
    margin-top: 80px;
}

.arrow-button.left {
    left: 10px;
}

.arrow-button.right {
    right: 10px;
}


.thumbnail-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 5%;
}

.thumbnail-buttons button {
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color:transparent;
}

.thumbnail-buttons button img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.thumbnail-buttons button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
