<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/back&completion.css">
    <link rel="stylesheet" href="../static/touroku.css">
</head>
<body>

<div class="header">
    <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">No Name</a>
    <a class="right_area">　</a>
</div>

<!-- メインコンテンツエリア -->
<div class="main-content">
    <a href="add_dresser.html" class="button">タンス</a>
    <br><br>
    <a href="add_closet.html" class="button">クローゼット</a>
    <br><br>
    <a href="add_storage_bag.html" class="button">収納袋</a>
    <br><br>
</div>

<script src="../static/templete_script.js"></script>
</body>
</html>