<!--クローゼットの詳細画面-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheet/back_completion.css">
    <link rel="stylesheet" href="../static/stylesheet/detaile_closet.css">
</head>
<body>

<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">あれどこ？</a>
    <a class="right_area">　</a>
</div>

<!-- メインコンテンツエリア -->
<div class="list_header">
    <figure class="storage_img" id="clothes_img">
        <!--画像を表示-->
    </figure>
    <div class="container" id="container">
        <a class="heder" id="heder_name">
        <a class="heder" id="heder_memo">
        </a>
        <a class="icons" id="icons">
            <span class="material-icons">swap_vert</span>
            <span class="material-icons">delete</span>
        </a>
    </div>
    <!--ごみ箱、ソートアイコン-->
</div>

<!--登録されている洋服が表示されるところ-->
<div class="main-content">
    <!-- コンテンツをここに追加 -->
    <div class="clothseListDisplay" id="clothseListDisplay">
        <!--登録されている洋服がここに表示される-->
    </div>
</div>

<script src="../static/Script/templete_script.js"></script>
<script src="../static/Script/detaile_closet.js"></script>
</body>
</html>