<!--クローゼットの詳細画面-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/back&completion.css">
    <link rel="stylesheet" href="../static/list.css">
</head>
<body>

<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">あれどこ？</a>
    <a class="right_area">　</a>
</div>

<!-- メインコンテンツエリア -->
<div class="list_header">
    <figure class="clothes_img">
        <img src="../img/youfuku_test.png" alt="clothes img">
    </figure>
    <div class="container">
        <a class="heder_name">名前</a>
    </div>
    <!--ごみ箱、ソートアイコン-->
    <a class="icons">
    <span class="material-icons">swap_vert</span>
    <span class="material-icons">delete</span>
    </a>
</div>
<div class="main-content">
    <!-- コンテンツをここに追加 -->
    <div class="clothse_button">
        <figure class="clothes_img">
            <img src="../img/youfuku_test.png" alt="clothes img">
            <div class="detail"> <!--詳細-->
                <br>名前:</br>
                <br>収納場所:</br>
                <br>
                    <div class="tag">
                        <a>タグ表示部分</a>
                    </div>
                </br>
            </div>
        </figure>
        <div class="detail_en">
            <br>ブランド名:</br>
            <br>メモ:</br>
            <div>
                <button class="delete_button">削除</button>
                <a href=".html">編集</a>
            </div>
        </div>
    </div>

    <div class="clothse_button">
        <figure class="clothes_img">
            <img src="../img/youfuku_test.png" alt="clothes img">
            <div class="detail"> <!--詳細-->
                <br>名前:</br>
                <br>収納場所:</br>
                <br>
                    <div class="tag">
                        <a>タグ表示部分</a>
                    </div>
                </br>
            </div>
        </figure>
        <div class="detail_en">
            <br>ブランド名:</br>
            <br>メモ:</br>
            <div>
                <button class="delete_button">削除</button>
                <a href=".html">編集</a>
            </div>
        </div>
    </div>
</div>


<script src="../static/templete_script.js"></script>
<script src="../static/list.js"></script>
</body>
</html>