<!-- 収納一覧画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/back&completion.css">
    <link rel="stylesheet" href="../static/index_storage.css">
</head>
<body>

<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="history.back()()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">あれどこ？</a>
    <a class="right_area">　</a>
</div>
<!-- メインコンテンツエリア -->
<div class="list_header">
  <a class="list_name">収納一覧</a>
  <div class="cp_ipselect06"> <!--セレクトボックス-->
    <select class="cp_sl06" required>
      <option value="closet" selected>クローゼット　</option>
      <option value="dresser">タンス　</option>
      <option value="storage_bag">収納袋　</option>
    </select>
    <span class="cp_sl06_selectbar"></span>
  </div>
  <div class="icons">
    <!--ごみ箱、ソートアイコン-->
    <span class="material-icons">swap_vert</span>
    <span class="material-icons">delete</span>
  </div>
</div>
<div class="main-content">
  <div class="storageList" id="storageList">
    <!--ここに該当するアイテムを表示-->
  </div>
</div>

<script src="../static/templete_script.js"></script>
<script src="../static/index_storage.js"></script>
</body>
</html>