<!--一覧の選択画面-->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/button.css">
    <link rel="stylesheet" href="../static/template_style.css">
    
</head>
<body>

<div class="header">
  <!--戻るのところ-->
  <button class="left-button" onclick="history.back()()"><span class="material-icons">arrow_back_ios_new</span></button>
  <a href="home.html" class="title-button">No Name</a>
  <a class="right_area">　</a>
</div>

<!-- メインコンテンツエリア -->
<div class="main-content">
  <a href="index_clothes.html" class="button">洋服</a>
  <a href="index_storage.html" class="button">収納</a>
  <a href="index_tag.html" class="button">タグ</a>
</div>

<script src="../static/templete_script.js"></script>
</body>
</html>