<!-- タグ一覧画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheet/back_completion.css">
    <link rel="stylesheet" href="../static/stylesheet/index_tag.css">
    <link rel="stylesheet" href="../static/stylesheet/index_heder.css">
</head>
<body>

<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">あれどこ？</a>
    <a class="right_area">　</a>

</div>
<!-- メインコンテンツエリア -->
<div class="list_header">
    <a class="list_name">タグ一覧</a>
    <!--ごみ箱、ソートアイコン-->
    <a class="icons">
    <span class="material-icons">swap_vert</span>
    </a>
</div>
<div class="main-content">
    <!-- コンテンツをここに追加 -->
    <div id="tagListDisplay">
        <!--タグ表示位置-->
    </div>
</div>

<script src="../static/Script/templete_script.js"></script>
<script src="../static/Script/index_tag.js"></script>
</body>
</html>