<!-- 検索一覧画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/back&completion.css">
    <link rel="stylesheet" href="../static/list.css">
    <link rel="stylesheet" href="../static/search.css">
    <link rel="stylesheet" href="../static/template_style.css">
</head>
<body>

<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">あれドコ?</a>
    <a class="right_area">　</a>
</div>

<!-- メインコンテンツエリア -->
<div class="list_header">
    <!-- 検索ボックス -->
    <div class="search-container">
        <input type="text" class="search-input" placeholder="検索" id="searchInput">
        <button class="search-button" onclick="performSearch()">
            <span class="material-icons">search</span>
        </button>
        <div class="dropdown" id="dropdown">
            <ul id="searchHistory">
            <!-- 検索履歴がここに表示される -->
            </ul>
        </div>
    </div>
    <div class="cp_ipselect06"> <!--セレクトボックス-->
        <select class="cp_sl06" required>
        <option value="1" selected>洋服　　</option>
        <option value="2">収納　　</option>
        <option value="3">タグ　　</option>
        </select>
        <span class="cp_sl06_selectbar"></span>
    </div>
    <div class="icons">
        <!--ごみ箱、ソートアイコン-->
        <span class="material-icons">swap_vert</span>
    </div>
</div>
<div class="main-content" id="itemsList">
    <!--アイテムがここに表示-->
</div>

<script src="../static/templete_script.js"></script>
<script src="../static/storage_list.js"></script>
<script src="../static/searhc.js"></script>
</body>
</html>