<!-- 収納一覧画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/back&completion.css">
    <link rel="stylesheet" href="../static/storage_list.css">
</head>
<body>

<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="history.back()()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">No Name</a>
    <a class="right_area">　</a>

</div>
<!-- メインコンテンツエリア -->
<div class="list_header">
  <div class="cp_ipselect06"> <!--セレクトボックス-->
    <select class="cp_sl06" required>
      <option value="1" selected>クローゼット　</option>
      <option value="2">タンス　</option>
      <option value="3">収納袋　</option>
    </select>
    <span class="cp_sl06_selectbar"></span>
  </div>
  <div class="icons">
    <!--ごみ箱、ソートアイコン-->
    <span class="material-icons">swap_vert</span>
    <span class="material-icons">delete</span>
  </div>
</div>
<div class="main-content">
  <!-- コンテンツをここに追加 -->
  <div id="1" class="clothes"><!--枠線-->
    <figure class="clothes_img"><!--画像挿入-->
      <img src="../img/clothes.png" alt="clothes img">
      <div class="detail"> <!--詳細-->
        <br>名前:</br>
        <br>収納場所:</br>
        <br>
          <div class="tag">
            <a>タグ表示部分</a>
          </div>
        </br>
      </div>
    </figure>
  </div>
  <div id="2" class="clothes"><!--枠線-->
    <figure class="clothes_img"><!--画像挿入-->
      <img src="../img/youfuku_test.png" alt="clothes img">
      <div class="detail"> <!--詳細-->
        <br>名前:</br>
        <br>収納場所:</br>
        <br>
          <div class="tag">
            <a>タグ表示部分</a>
          </div>
        </br>
      </div>
    </figure>
  </div>
  <div id="3" class="clothes"><!--枠線-->
    <figure class="clothes_img"><!--画像挿入-->
      <img src="../img/yuru04.jpg" alt="clothes img">
      <div class="detail"> <!--詳細-->
        <br>名前:</br>
        <br>収納場所:</br>
        <br>
          <div class="tag">
            <a>タグ表示部分</a>
          </div>
        </br>
      </div>
    </figure>
  </div>
</div>

<script src="../static/templete_script.js"></script>
<script src="../static/storage_list.js"></script>
</body>
</html>