<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="..\static\back&completion.css">
    
    <link rel="stylesheet" href="../static/syuunouBox.css">
</head>
<body>

<div class="header">
    <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">No Name</a>
    <a class="right_area">　</a>
</div>

<!-- メインコンテンツエリア -->
<div class="main-content">
    <div class="photo-slider">
        <button class="arrow-button left" onclick="previousPhoto()">&#8249;</button>
        <div class="photo-container">
            <img id="slider-photo" src="photo1.jpg" alt="スライド写真">
        </div>
        <button class="arrow-button right" onclick="nextPhoto()">&#8250;</button>
    </div>
    <!--サンプルの画像の表示-->
    <div class="thumbnail-buttons">
        <button onclick="selectPhoto(0)"><img src="https://thumb.ac-illust.com/bb/bb155844e2d3b16f4342bad7a96e8847_w.jpeg" alt="Photo 1"></button>
        <button onclick="selectPhoto(1)"><img src="photo2.jpg" alt="Photo 2"></button>
        <button onclick="selectPhoto(2)"><img src="photo3.jpg" alt="Photo 3"></button>
    </div>

    <div class="completion">
        <button class="no">
            完了
        </button>
    </div>
</div>


<script src="../static/templete_script.js"></script>
<script src="../static/syuunouBox.js"></script>
</body>
</html>