<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="..\static\back&completion.css">
    <link rel="stylesheet" href="../static/syuunouBox.css">
</head>
<body>

    <div class="header">
        <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
        <a class="title-button">収納袋登録</a>
        <a class="right_area">　</a>
    </div>

    <!-- メインコンテンツエリア -->
    <div class="main-content">
        <form id="syunouForm">
            <label for="name">名前</label>
            <div class="input-container">
                <input type="text" id="name" name="name" required>
                <button type="button" class="info-button">
                    <span class="material-icons">
                        help_outline
                    </span>
                </button>
            </div>
            <div class="photo-slider">
                <button class="arrow-button left" onclick="previousPhoto()">&#8249;</button>
                <div class="photo-container">
                    <img id="slider-photo" src="photo1.jpg" alt="スライド写真">
                </div>
                <button class="arrow-button right" onclick="nextPhoto()">&#8250;</button>
            </div>
            <!--サンプルの画像の表示-->
            <div class="thumbnail-buttons">
                <button onclick="selectPhoto(0)"><img src="https://thumb.ac-illust.com/bb/bb155844e2d3b16f4342bad7a96e8847_w.jpeg" alt="Photo 1"></button>
                <button onclick="selectPhoto(1)"><img src="photo2.jpg" alt="Photo 2"></button>
                <button onclick="selectPhoto(2)"><img src="photo3.jpg" alt="Photo 3"></button>
            </div>

            <!--登録完了ボタン 確認画面を見れるボタン-->
            <div class="completion">
                <button id="review-modal-button" class="reviewModalButton" onclick="openReviewModal()">
                    完了
                </button>
            </div>
        </form>
        
        <!-- 確認画面の表示 -->
        <div id="reviewModal" class="reviewModal" style="display: none;">
            <div class="reviewModalContent">
                <span id="reviwCloseBtn">&times;</span>
                <h3>確認画面</h3>
                <div id="reviewName" class="reviewName"></div>
                <div id="reviewSyunouImage" class="reviewSyunouImage"></div>
                <button onclick="registerData()">登録</button>
            </div>
        </div>
        
        <!-- 登録完了メッセージ -->
        <div id="registerModal" class="registerModal" style="display:none;">
            <div class="registreContent">
                <h3>登録が完了しました</h3>
                <a href="登録画面.html">続けて収納を登録</a>

                <!--セレクトボックス-->
                <div class="cp_ipselect06">
                    <select class="cp_sl06" required>
                        <option value="1" selected>洋服を収納　</option>
                        <option value="2">新規洋服登録　</option>
                        <option value="3">既存洋服登録　</option>
                    </select>
                    <span class="cp_sl06_selectbar"></span>
                </div>
                <a href="home.html">ホームへ</a>
            </div>
        </div>
    </div>


    <script src="../static/templete_script.js"></script>
    <script src="../static/syuunouBox.js"></script>
</body>
</html>