<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/back&completion.css">
</head>
<body>

<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="back()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a class="title-button">登録</a>
    <a class="right_area">　</a>

</div>

<!-- メインコンテンツエリア -->
<div class="main-content">
  <!-- コンテンツをここに追加 -->
</div>
<div class="completion">
  <!--完了のところ-->
  <a href="mypage.html">完了</a>
</div>

<script src="../static/templete_script.js"></script>
</body>
</html>