<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/template_style.css">
</head>
<body>

<div class="header">
    <button class="left-button" onclick="toggleSidebar()"><span class="material-icons">menu_open</span></button>
    <a href="home.html" class="title-button">No Name</a>
    <button class="right-button" onclick="notice_transition()"><span class="material-icons">notifications</span></button>
</div>

<!-- サイドバー -->
<div id="sidebar" class="sidebar">
    <button class="close-btn" onclick="toggleSidebar()">×</button>
    <ul>
        <li><a href="registration.html">登録</a></li>
        <li><a href="search.html">検索</a></li>
        <li><a href="mypage.html">マイページ</a></li>    
        <li><a href="nice.html">いいね</a></li>    
        <li><a href="enquiry.html">お問合わせ</a></li>    
    </ul>
</div>

<!-- メインコンテンツエリア -->
<div class="main-content">
    <!-- コンテンツをここに追加 -->
</div>

<script src="../static/templete_script.js"></script>
</body>
</html>