<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/back&completion.css}">
    <link rel="stylesheet" th:href="@{/button.css}">
</head>
<body>

    <div class="header">
        <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
        <a href="home.html" class="title-button">あれドコ?</a>
        <a class="right_area">　</a>
    </div>

    <!-- メインコンテンツエリア -->
    <div class="main-content">
        <a th:href="@{/register/{userId}/storages/dresser(userId=${userId})}" class="button">タンス</a>
        <a th:href="@{/register/{userId}/storages/closet(userId=${userId})}" class="button">クローゼット</a>
        <a th:href="@{/register/{userId}/storages/bags(userId=${userId})}" class="button">収納袋</a>
    </div>

    <script th:src="@{/templete_script.js}"></script>
</body>
</html>