<!--タンスの詳細画面-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/stylesheet/back_completion.css}">
    <link rel="stylesheet" th:href="@{/stylesheet/list.css}">
</head>
<body>

    <div class="header">
        <!--戻るのところ-->
        <button class="left-button" onclick="history.back()"><span class="material-icons">arrow_back_ios_new</span></button>
        <a th:href="@{/home/{userId}(userId=${userId})}" class="title-button">あれどこ？</a>
        <a class="right_area">　</a>
    </div>

<!-- メインコンテンツエリア -->
<div class="list_header">
    <figure class="clothes_img">
        <img th:src="${storage.imageUrl}" alt="storage img">
    </figure>
    <div class="container">
        <br class="heder_name">名前:<span th:text="${storage.name}"></span></br>
        <div class="cp_ipselect06"> <!--セレクトボックス-->
            <select class="cp_sl06" required>
                <option value="1" selected>1　</option>
                <option value="2">2　</option>
                <option value="3">3　</option>
            </select>
            <span class="cp_sl06_selectbar"></span>
        </div>
    </div>
        <!--ごみ箱、ソートアイコン-->
        <a class="icons">
        <span class="material-icons">swap_vert</span>
        <span class="material-icons">delete</span>
        </a>
    </div>
    <div class="main-content">
        <!-- コンテンツをここに追加 -->
        <div th:each="clothes : ${clothesList}" class="clothse_button">
            <figure class="clothes_img">
                <img th:src="${clothes.imageUrl}" alt="clothes img">
                <div class="detail">
                    <br>名前: <span th:text="${clothes.name}"></span></br>
                    <br>収納場所: <span th:text="${clothes.storage.name}"></span></br>
                    <br>
                    <div class="tag">
                        <a>タグ表示部分</a>
                    </div>
                    </br>
                </div>
            </figure>
            <div class="detail_en">
                <br>ブランド名: <span th:text="${clothes.brandName}"></span></br>
                <br>説明: <span th:text="${clothes.description}"></span></br>
                <div>
                    <button class="delete_button" th:attr="data-id=${clothes.id}">削除</button>
                    <a th:href="@{/clothes/edit/{id}(id=${clothes.id})}">編集</a>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/Script/templete_script.js}"></script>
    <script th:src="@{/Script/list.js}"></script>
</body>
</html>
