<!-- お問い合わせ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/template_style.css}">
</head>
<body>

<div class="header">
    <button class="left-button" onclick="toggleSidebar()"><span class="material-icons">menu_open</span></button>
    <a href="home.html" class="title-button">No Name</a>
    <button class="right-button" onclick="notice_transition()"><span class="material-icons">notifications</span></button>
</div>

<!-- サイドバー -->
<div id="sidebar" class="sidebar">
    <button class="close-btn" onclick="toggleSidebar()">×</button>
    <ul>
        <li><a th:href="@{/register/{userId}(userId=${userId})}">登録</a></li>
        <li><a th:href="@{/others/{userId}/search(userId=${userId})}">検索</a></li>
        <li><a th:href="@{/others/{userId}/my-page(userId=${userId})}">マイページ</a></li>
        <li><a th:href="@{/others/{userId}/favorite(userId=${userId})}">いいね</a></li>
        <li><a th:href="@{/others/{userId}/inquiry(userId=${userId})}">お問合わせ</a></li>
    </ul>
</div>

<!-- メインコンテンツエリア -->
<div class="main-content">
    <!-- コンテンツをここに追加 -->
    <h1>お問い合わせ</h1>
</div>

<script th:src="@{/templete_script.js}"></script>
</body>
</html>
