<!-- 収納一覧画面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webアプリ画面</title>
    <!-- google fonts,css等の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/back&completion.css}">
    <link rel="stylesheet" th:href="@{/list.css}">
</head>
<body>
<input type="hidden" id="userId" th:value="${userId}">
<div class="header">
    <!--戻るのところ-->
    <button class="left-button" onclick="history.back()()"><span class="material-icons">arrow_back_ios_new</span></button>
    <a href="home.html" class="title-button">No Name</a>
    <a class="right_area">　</a>
</div>
<!-- メインコンテンツエリア -->
<div class="list_header">
  <div class="cp_ipselect06"> <!--セレクトボックス-->
      <select class="cp_sl06" id="storageTypeSelect" required>
          <option value="DRESSER" th:selected="${selectedStorageType == 'DRESSER'}">タンス</option>
          <option value="CLOSET" th:selected="${selectedStorageType == 'CLOSET'}">クローゼット</option>
          <option value="STORAGE_BAG" th:selected="${selectedStorageType == 'STORAGE_BAG'}">収納袋</option>
      </select>
    <span class="cp_sl06_selectbar"></span>
  </div>
  <div class="icons">
    <!--ごみ箱、ソートアイコン-->
    <span class="material-icons">swap_vert</span>
    <span class="material-icons">delete</span>
  </div>
</div>
<div class="main-content" id="storageList">
  <!-- コンテンツをここに追加 -->
        <div th:each="storage : ${storages}" class="clothse_button" th:id="${storage.id}">
            <a th:href="@{/storage/{id}(id=${storage.id})}" class="detail_url">
                <figure class="clothes_img">
                    <img th:src="'data:image/png;base64,' + ${storage.imageDataString}" alt="clothes img">
                    <div class="detail">
                        <br>名前: <span th:text="${storage.name}"></span></br>
                    </div>
                </figure>
            </a>
        </div>
</div>

<script th:src="@{/templete_script.js}"></script>
<script th:src="@{/storage_list.js}"></script>
</body>
</html>
