/* フォームのレイアウト調整 */
form {
    max-width: 70%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: left;
}

/* フォームのラベルのスタイル */
form label {
    display: block;
    margin: 10px 0 5px;
}

#video{
    background-color: beige;
}

/* フォームの入力エリアのスタイル */
form input, form textarea{
    width: 100%;
    border: none;
    padding: 10px;
    resize: none;
    outline: none; 
    gap: 10px;
}

/* フォーカス時のスタイル（選択時に下線を変更） */
.input-container:focus-within{
    border: none;
    border-bottom: 2px solid #ea512fce;
    border-radius: 1px; 
    box-shadow: none; /* フォーカス時の影を消す */
    outline: none; /* フォーカス時のアウトラインも消す */
}

/* 入力場所のレイアウト */
.input-container {
    display: flex;
    width: 100%;
    border: none;
    padding: 10px;
    padding-bottom: 0;
    border-bottom: 1.5px solid #929292;
    border-radius: 1px;
    resize: none;
    outline: none; 
    margin-bottom: 15px;
    gap: 10px; 
}

/* 画像表示コンテナ */
.image-container {
    position: relative;
    display: flex;
    flex-basis: 50%;
    align-items: flex-end;
    margin-bottom: 5%;
}

/* 画像プレビュー */
.imagePreviewContainer {
    position: relative;
    display: flex;
    border: 2px solid #606060;
    border-radius: 8px;  /* 枠線に角を丸める */
    align-items: center;
}

/* 写真追加のボタンのスタイル */
.addPhoto{
    display: flex;
    flex-basis: 5%;
    margin-left: 4%;
    background-color: transparent;
    border: none;;
    cursor: pointer
}

/* 写真を撮影するボタン関連 */
.camerabtns{
    display: flex;
    flex-direction: column;
}

/* 写真を撮るボタン */
.capture{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer
}

/* 写真を終了するボタン */
#stopCameraButton{
    position: absolute;
    top: 0%;  
    margin-left: 0%; 
    background-color: transparent;
    border: none;
    display: flex;
    cursor: pointer
}

/* ＋ボタンのスタイル */
.add-image-button {
    display: flex;
    flex-basis: 5%;
    background-color:transparent;
    border: none;
    cursor: pointer
}

/* ?のところ */
.info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    filter: brightness(50%) contrast(50%)
}

/*確認画面関連*/
/* モーダルの基本スタイル */
.reviewModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
    z-index: 1000;
    cursor: pointer;
}

  /* モーダルコンテンツ */
.reviewModalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height:auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

/* モーダルを閉じる×ボタン */
#reviwCloseBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    top:-5%;
    right: -5%;
    width: 40px;
    height: 40px;
    background-color: #333;
    border: #333;
    border-radius: 50%;
}

/* "確認画面"のレイアウト */
.reviewModalContent h3 {
    margin: 0 0 20px 0;
    text-align: center;
}

/* 確認画面のラベル的なところのスタイル */
.reviewModalContent a{
    font-weight: bold;
    font-size: 16px;
    color: #535353;
}

/* モーダルの中のdivの間隔設定 */
.reviewModalContent div {
    margin-bottom: 15px;
}

/* モーダルの中の登録ボタン */
.reviewModalContent button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reviewMemo{
    display: flex;
    flex-direction: column;
}

/* 確認画面のメモのスタイル */
#reviewMemo textarea{
    resize: none;
    width:80%;
    height:30%;
    border:none;
    cursor: pointer;
    outline:none;
}

#reviewMemo textarea:focus{
    cursor: pointer;
    border: none;
}

/* 確認画面の写真以外の各内容のスタイル */
.review{
    min-height: 10%;
    text-align: left;
}

.reviewImage{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:3px;
}

/* 確認画面の写真 */
.reviewImage img{
    width: 90px;
    height: 90px;
    object-fit: contain;
    border: 1.5px solid #606060;
    border-radius: 4px;
}

/* 登録ボタンの上にカーソルがきたとき */
.reviewModalContent button:hover {
    background-color: rgb(32, 244, 9);
}

/* 確認完了後モーダルのスタイル */
.registerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* 確認完了後モーダルの中のスタイル */
.registreContent {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height:auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 登録後のaタグのスタイル */
.registreContent a{
    text-decoration:underline;
    color:#101010;
    border: none;
    border-bottom: 1px solid #535353;
    margin-bottom: 2%;
    font-size: 16px;
    text-decoration-line: none;
}

/* セレクトボックス関連 */
.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 60%;
}

  /* セレクトボックスの三角の部分 */
.selectbox::after {
    position: absolute;
    right: 5px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

/* セレクトボックス全体のレイアウト */
.selectbox select {
    appearance: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #e7e7e7;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox select:focus {
    outline: none;
}

/* セレクトボックス関連ここまで */
/* フォーム関連ここまで */