/* 登録画面の戻る完了の部分のテンプレート */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* 横スクロールを防ぐ */
}

.header  {
  display: flex;
  justify-content: space-between; /* 子要素を左右の端に配置 */
  align-items: center; /* 子要素を垂直中央に配置 */
  padding: 10px 20px;
  background-color: #e7e5e3;
  border-bottom: 1px solid #ccc;
  text-decoration: none; /* 下線を消す */
}

.title-button {
  margin: 0;
  font-size: 20px;
  flex: 1; /* タイトル部分が中央に来るように広げる */
  text-align: center; /* タイトルを中央に配置 */
  border: none;
  background: none;
  cursor: pointer;
  color: #526d98; /* ボタンの色 */
  text-decoration: none; /* 下線を消す */
}

.left-button , .right_area{
  padding: 8px;
  font-size: 16px;
  border: none;
  background: none; /* ボタン背景を消去 */
  cursor: pointer;
  color: #526d98; /* アイコンの色 */
}

.left-button, .right_area:hover {
  color: #333; /* ホバー時の色変更 */
}

/* .completionが完了のボタン関連のcss */
.completion{
  display: flex;
  flex-basis: 100%;
}

.completion button{
  display: flex;
  flex-basis: 100%;
  text-decoration: none; /* ホバー時に下線を消す */
  text-align:center;
  background: #e7e5e3;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 250px;
  padding: 10px 25px;
  font-family: "Noto Sans Japanese";
  color: #333;
  line-height: 1.8;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  border:none;
}

.completion button:hover{
  background: #333;
  color:#FFF;
}

.completion button::after{
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

.completion button:hover:after {
  border-color: #FFF;
}

.main-content {
  padding: 20px;
  text-align: center;
}


/* 画面の色（モード）を反映 */
/* whiteモード */
.header.white { /*ヘッダー背景色*/
  background-color: #e7e5e3;
}
.title-button.white,.left-button.white,.right-button.white
{   /*ヘッダーボタン色*/
  color: #526d98;
}
body.white{  /*背景色*/
  background-color: white;
}

/* blackモード */
.header.black {/*ヘッダー背景色*/
  background-color: #333;
}
.title-button.black,.left-button.black,.right-button.black
{   /*ヘッダーボタン色*/
  color:#fff;
}
body.black{  /*背景色*/
  background-color: white;
}

/* naturalモード */
.header.natural {   /*ヘッダー背景色*/
  background-color: wheat;
}
.title-button.natural,.left-button.natural,.right-button.natural
{   /*ヘッダーボタン色*/
  color:saddlebrown;
}
body.natural{  /*背景色*/
  background-color: snow;
}