/* 〇〇一覧の部分 */
.list_name{
  /*線の種類（二重線）太さ 色*/
  display: flex;
  flex-basis: 20%;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 20px;
  margin: 0% 3%;
  padding: 1% 2%;
  border-bottom: double 5px #FFC778;
}

/* ○○一覧やiconがある部分 */
.list_header{
  display: flex;
  flex-basis: 100%;
  align-items: flex-e nd;
  justify-items: center;
  text-align: center;
  padding-top: 2%;
}

/* 削除やソートのアイコン */
.icons{
  display: flex;
  flex-basis: 10%;
  border: none;
  background: none;
  cursor: pointer;
  white-space: nowrap; /*文字の折り返しをさせない*/
  margin-left:auto;
  margin-right: 10px;
  justify-content: center;
}

a {
 text-decoration: none; /* 下線を削除 */
  outline: none; /* フォーカス枠を削除 */
  color: inherit; /* 文字色を継承 */
}

/* 画面の色（モード）を反映 */
/* whiteモード */
.list_name.white{
  border-bottom: double 5px darkblue;
}

/* blackモード */
.list_name.black{
  border-bottom: double 5px #333;
}

/* naturalモード */
.list_name.natural{
  border-bottom: double 5px brown;
}
