.cp_ipselect06 {
  position: relative;
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  flex-direction: column;
  margin-right: -20%;
  margin-left: auto;
}
.cp_ipselect06 .cp_sl06 {
  position: relative;
  width: 135%; /*下線の長さ*/
  height: 40px;/*高さ*/
  cursor: pointer;
  z-index: 1;
  /* 標準のスタイルを無効にしborder-bottomを設定 */
  border: none;
  appearance: none;
  outline: none;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #666666;
  text-align: center;
}
/*プルダウンの三角を設定*/
.cp_ipselect06::after {
  position: absolute;
  right: -30%; /*場所の指定*/
  content: '';
  width: 14px; /*三角形の形*/
  height: 8px; /*三角形の形*/
  background: #666666;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

/*選択した際の動き:セレクト下のライン*/
.cp_sl06_selectbar {
  position: relative;
  display: inline-block;
  width: 133%;
}
.cp_sl06_selectbar:before,
.cp_sl06_selectbar:after {
  bottom: 1px;
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  background: #da3c41;
  transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
  left: 50%;
}
.cp_sl06_selectbar:after {
  right: 50%;
}
/*focus時の設定*/
.cp_ipselect06 .cp_sl06:focus {
  border-bottom: 1px solid transparent;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before,
.cp_sl06:focus ~ .cp_sl06_selectbar:after {
  width: 50%;
}

.icons{
  display: flex;
  flex-basis: 10%;
  border: none;
  background: none;
  cursor: pointer;
  white-space: nowrap; /*文字の折り返しをさせない*/
  margin-left:auto;
  margin-right: 10px;
  justify-content: center;
}

.list_name{
  /*線の種類（二重線）太さ 色*/
  display: flex;
  flex-basis: 20%;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 20px;
  margin: 0% 3%;
  padding: 1% 2%;
  border-bottom: double 5px #FFC778;
}

.list_header{
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
  justify-items: center;
  text-align: center;
  padding-top: 2%;
}

.clothes_img img{
  width: 180px;
  height: 150px;
  object-fit:cover;
}

.clothes_img{
  border: none;
  display: flex;
  margin: auto;
  padding: 0;
}

.detail{
  white-space: nowrap; /*文字の折り返しをさせない*/
  width: 300px;
  height: 150px;
  text-align: left;
  margin-left: 5%;
}

.clothes {
  border: none; /* これで枠線を消す */
  margin: 0; 
  background-color: #e7e7e7;
}

.detail_en{
  white-space: nowrap; /*文字の折り返しをさせない*/
  width: 300px;
  height: 150px;
  text-align: left;
  margin-left: 5%;
  padding-left: 5%;
  display: none; /* 非表示設定 */
}

.detail_en button, .detail_en a {
  color: black;
  font-size: 16px;
  background-color: #e7e7e7;
  border: none;
  text-decoration: none;
  padding: 8px 12px; /* paddingを少し大きく */
  margin-left: 20px; /* ボタンとリンクの間にスペース */
  margin-top: 10px;
  cursor: pointer; /* カーソルをポインタに */
}

.detail_en a {
  display: inline-block; /* リンクをボックスとして扱う */
}

.clothse_button{
  padding: 10px 20px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
}

.detail_url{
  cursor: pointer; /* カーソルをポインタに */
  border: none;
  text-decoration: none;
  color: black;
}

.container{
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  margin-left: -20%;
}

.container select{
  padding-right: 6px;
  padding-bottom: -3px;
}

